{% for regal in item.materials %}
    <div class="flex flex-row items-center gap-2 ">
        <p>
        <span class="material_name cursor-pointer text-blue-500" data-material="{{ regal.Artikel }}">
            {{ regal.Artikel }}
        </span>
            -
            {% if "Station" in regal.FachName  %}
            <span class="font-bold text-red-600"> {{ regal.FachName }}  </span> - {{ regal.Menge }} szt.
            {% else %}
            <span class="text-yellow-600"> {{ regal.FachName }} </span> - {{ regal.Menge }} szt.
            {% endif %}

        </p>
    </div>

{% endfor %}